## MLB Nationality Batting Performance 2020

In [4]:
import pandas as pd
import math
import glob
import os

In [2]:
mlb_raw = pd.read_csv("data/mlb_complete_std_batting.csv")

In [3]:
mlb_raw.head()

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos Summary
0,1,José Abreu\abreujo02,33,CHW,AL,60,262,240,43,76,...,0.617,0.987,166.0,148,10,3,0,1,1,*3/D
1,2,Ronald Acuna Jr.\acunaro01,22,ATL,NL,46,202,160,46,40,...,0.581,0.987,155.0,93,3,4,0,0,2,*89
2,3,Willy Adames\adamewi01,24,TBR,AL,54,205,185,29,48,...,0.481,0.813,124.0,89,4,0,0,0,0,*6/H
3,4,Austin Adams\adamsau02,29,SDP,NL,1,1,1,0,0,...,0.000,0.000,-100.0,0,0,0,0,0,0,/1
4,5,Matt Adams*\adamsma01,31,ATL,NL,16,51,49,4,9,...,0.347,0.563,44.0,17,3,0,0,0,0,D/H3

In [ ]:
mlb_raw = mlb

In [5]:
files = glob.glob('data/birthplace/*csv')

In [ ]:
dfs = []
for file in files:
    df = pd.read_csv(file)
    df['Country'] = file
    df['Country'] = df['Year'].str.split('_').str[0]
    df = df[(df['Rk'] < 9)]
    dfs.append(df)
    

df = pd.concat(dfs, ignore_index=True)
df['Year'] = df['Year'].str.split('/', n=1).str[-1]
df.to_csv('data/cleaned/batting_order_history.csv', index=False)
df